mixin header_home()
  header(class!=attributes.class)
    .fixed-nav.parent
      .logo
        a(href='#') DPerazzolo
        // img(src='img/logo.png', alt='Daniele Perazzolo Logo')
      nav.main
        a(href='/assets/Resume_Daniele_Perazzolo.pdf', target='_blank') Resume
        a(href='#projects') Projects
        a(href='contact.html') Contact
    .banner.parent(data-parallax='scroll', data-img-src='img/Background.jpg')
      .intro
        p portfolio:~ daniele$ hostname -s
        h1 Daniele-Perazzolo
        p portfolio:~ daniele$ ioreg -b -d 3
        p +-o Root &lt;class IOregistry&gt;
        p &nbsp;&nbsp;+-o
          span  Web_Development
          | &lt;class&gt;
        p &nbsp;&nbsp;+-o
          span  Android-iOS_Development 
          | &lt;class&gt;
        p &nbsp;&nbsp;+-o
          span  UX_Design 
          | &lt;class&gt;
        p portfolio:~ daniele$

//- Parameters:
//-    -project_name: h1 of the page
//-    -project_headings: 2 item array with project subheadings that will be placed side by side in the header
mixin header_project(project_name, ...project_headings)
  header(class!=attributes.class)
    .fixed-nav.parent
      .logo
        a(href='index.html') DPerazzolo
        //- img(src='img/logo.png', alt='Daniele Perazzolo Logo')
      nav.main
        a(href='/assets/Resume_Daniele_Perazzolo.pdf', target='_blank') Resume
        a(href='index.html#projects') Projects
        a(href='contact.html') Contact
    .banner.parent(data-parallax='scroll', data-img-src='/img/Background.jpg')
      .intro
        p portfolio:~ daniele$ cd /home/#{project_name}
        p portfolio:#{project_name} daniele$ basename /home/#{project_name}
        h1= project_name
        p portfolio:#{project_name} daniele$ ls
        p
          span
            each heading in project_headings
              | #{heading[0]} &nbsp;&nbsp;&nbsp;&nbsp; #{heading[1]}
              br
        p.cursor portfolio:#{project_name} daniele$