mixin specifications(time, size, roles, skills, tools)
  aside.specifications.text-component
    .specifications--item
      h4 timeline
      p #{time}
    .specifications--item
      h4 team size
      p #{size}
    .specifications--item
      h4 role
      p
        for role in roles
          | #{role} 
          br
    .specifications--item
      h4 skills
      p
        for skill in skills
          | #{skill} 
          br
    .specifications--item
      h4 tools
      p.last
        for tool in tools
          | #{tool} 
          br