mixin specifications(time, size, roles, skills, tools)
  section.col-offset-md-1.col-md-4.col-lg-3.specifications
    h4 timeline
    p #{time}
    h4 team size
    p #{size}
    h4 role
    p #{roles}
    h4 skills
    p #{skills}
    h4 tools
    p.last #{tools}