mixin specifications(time, size, roles, skills, tools)
  aside.specifications.text-component
    .specifications--item
      h4.truncate timeline
      p #{time}
    .specifications--item
      h4.truncate team size
      p #{size}
    .specifications--item
      h4.truncate role
      p
        for role in roles
          | #{role} 
          br
    .specifications--item
      h4.truncate skills
      p
        for skill in skills
          | #{skill} 
          br
    .specifications--item
      h4.truncate tools
      p
        for tool in tools
          | #{tool} 
          br